# Lv1. 의사결정회귀나무로 따릉이 데이터 예측하기
링크 : https://dacon.io/competitions/open/235698/overview/description

## Lv1 EDA 1~5

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Lv1 EDA 1/5 python 파이썬 라이브러리 불러오기(import)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Lv1 EDA 2/5 python 파이썬 파일 불러오기(read_csv)
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-06-02 07:56:43--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-06-02 07:56:43--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 172.217.203.101, 172.217.203.100, 172.217.203.139, ...
Connecting to drive.google.com (drive.google.com)|172.217.203.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/20mve31448qipggvf2mv5g1jq6n67b2s/1654156575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-06-02 07:56:43--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/20mve31448qipggvf2mv5g1jq6n67b2s/1654156575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 172.217.203.132, 2607:f8b0:400c:c07::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|172.217.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.001s

2022-06-02 07:56:44 (43.6 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

In [ ]:
import pandas as pd

# 정답 코드
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [ ]:
# Lv1 EDA 3/5 python 파이썬 행 열 갯수 관찰하기(shape)
train.shape

(1459, 11)

In [ ]:
test.shape

(715, 10)

In [ ]:
# Lv1 EDA 4/5 python 파이썬 데이터 확인하기(head())
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [ ]:
train.tail(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
1449,2169,4,10.2,0.0,1.3,63.0,1378.0,0.033,58.0,29.0,11.0
1450,2170,15,23.1,0.0,4.3,23.0,1798.0,0.064,54.0,29.0,266.0
1451,2171,3,18.1,0.0,0.8,77.0,272.0,0.008,112.0,69.0,26.0
1452,2172,4,8.7,0.0,1.0,66.0,1802.0,0.044,46.0,18.0,8.0
1453,2173,18,24.8,0.0,3.6,33.0,1262.0,0.084,113.0,49.0,303.0
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [ ]:
# Lv1 EDA 5/5 python 파이썬 결측치 확인하기(is_null() )
print(train.isnull())
print('\n--------------------------------train.csv 각 열 별 결측치 수--------------------------------\n')
print(test.isna().sum())

         id   hour  hour_bef_temperature  hour_bef_precipitation  \
0     False  False                 False                   False
1     False  False                 False                   False
2     False  False                 False                   False
3     False  False                 False                   False
4     False  False                 False                   False
...     ...    ...                   ...                     ...
1454  False  False                 False                   False
1455  False  False                 False                   False
1456  False  False                 False                   False
1457  False  False                 False                   False
1458  False  False                 False                   False

      hour_bef_windspeed  hour_bef_humidity  hour_bef_visibility  \
0                  False              False                False
1                  False              False                False
2                  False              False                False
3                  False              False                False
4                  False              False                False
...                  ...                ...                  ...
1454               False              False                False
1455               False              False                False
1456               False              False                False
1457               False              False                False
1458               False              False                False

      hour_bef_ozone  hour_bef_pm10  hour_bef_pm2.5  count
0              False          False           False  False
1              False          False           False  False
2              False          False           False  False
3              False          False           False  False
4              False          False           False  False
...              ...            ...             ...    ...
1454           False          False           False  False
1455           False          False           False  False
1456           False          False           False  False
1457           False          False           False  False
1458           False          False           False  False

[1459 rows x 11 columns]

--------------------------------train.csv 각 열 별 결측치 수--------------------------------

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

## LV1 전처리 1~2

In [ ]:
# Lv1 전처리 1/2 python 파이썬 데이터 기본 정보 확인하기(info())
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [ ]:
# Lv1 전처리 2/2 python 파이썬 결측치삭제,대체(dropna, fillna)
train = train.dropna()
test = test.fillna(0)

In [ ]:
print('========== Train info ==========')
print(train.info())
print('========== Test info ==========')
print(test.info())

========== Train info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1328 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1328 non-null   int64
 1   hour                    1328 non-null   int64
 2   hour_bef_temperature    1328 non-null   float64
 3   hour_bef_precipitation  1328 non-null   float64
 4   hour_bef_windspeed      1328 non-null   float64
 5   hour_bef_humidity       1328 non-null   float64
 6   hour_bef_visibility     1328 non-null   float64
 7   hour_bef_ozone          1328 non-null   float64
 8   hour_bef_pm10           1328 non-null   float64
 9   hour_bef_pm2.5          1328 non-null   float64
 10  count                   1328 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 124.5 KB
None
========== Test info ==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB
None

## LV1 모델링 1~6

In [ ]:
# Lv1 모델링 1/6 python 파이썬 scikit-learn
import sklearn
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Lv1 모델링 python 파이썬 2/6 모델개념(의사결정나무)
# 참조 : https://dacon.io/competitions/open/235698/talkboard/403509?page=1&dtype=recent
'''
의사결정나무란? 🤷

결정 트리는 의사 결정 규칙과 그 결과들을 트리 구조로 도식화한 의사 결정 지원 도구의 일종입니다. 
즉 스무고개 방식으로 구조화되는 것입니다.


원리를 살펴보겠습니다. 🧑‍🏫

EDA 를 통해 data를 살펴보면 각 행(row) 들은 피쳐들을 갖고 있습니다. 
이 중 하나의 피쳐를 정해서 해당 피쳐의 값에 대해 특정한 하나의 값을 정한다면, 
이를 기준으로 모든 행(row) 들을 두 개의 노드(node) 로 
분류(Binary decision rule. 이진분할) 할 수 있습니다. ✅


만약 특정하게 2️⃣개를 정한다면 3️⃣진분할이 되는 것입니다
. 대표적인 의사결정나무인 CART 의사결정 나무 는 이진분할을 사용합니다. 
앞으로 CART 의사결정나무에 맞춰 설명을 이어나가겠습니다. 

자 그럼, 🔄 파생된 두 개의 노드에 대해서 또 다시 새로운 피쳐의 특정한 값을 정하고 분류를 진행합니다. 
그리고 이 과정을 반복하게 되면 점차 피쳐의 값에 따라 data 들이 
분류가 되며 이것이 의사결정 나무의 원리입니다. 🌳



특정한 값을 정하는 의사결정 나무의 대원칙은 ✅ "한쪽 방향으로 쏠리도록" ✅ 입니다. 
🙅 분류될 때는 공평하게 비슷한 양으로 나뉘도록 값을 정하는 것이 아니라, 
🙆 "한쪽 방향으로 쏠리도록" 해주는 특정한 값을 찾는 것이며, 
이를 불순도를 계산해서 찾아냅니다.

'''

In [ ]:
# Lv1 모델링 python 파이썬 3/6 모델선언(의사결정나무)
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [ ]:
# Lv1 모델링 python 파이썬 4/6 모델훈련 (의사결정나무)
'''
모델을 선언한 후, fit(X, Y) 함수를 사용해서 모델을 훈련시킬 수 있습니다. 💪

여기서 주의해야 할 점은 X 데이터는 예측에 사용되는 변수들이고, 
✅ Y 데이터는 예측결과 변수여야 한다는 것입니다. ✅


X 데이터는 train data 에서 drop([‘제외할컬럼명’], axis=1) 함수를 이용해 
예측할 피쳐를 제외할 수 있습니다.

Y 데이터는 train[‘예측할컬럼명'] 으로 인덱싱할 수 있습니다.

X_train = train.drop(['제외할컬럼명'], axis=1)
Y_train = train['예측할컬럼명']

이제 모델을 선언하고, fit() 함수를 이용해 모델을 훈련시킬 수 있습니다.

model = DecistionRegressor()
model.fit(X_train, Y_train)
'''

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

In [ ]:
# Lv1 모델링 python 파이썬 5/6 테스트예측
'''
테스트 파일을 훈련된 모델로 예측해보겠습니다. 
훈련된 모델에서 predict() 매서드에 예측하고자 하는 data 를 인자로 넣어주게 되면 
해당 결과 array 를 할당할 수 있습니다.

[할당할 array] = model.predict(test)
'''
pred = model.predict(test)
pred[:5]

array([117., 164., 121.,  49.,  93.])

In [ ]:
# Lv1 모델링 6/6 python 파이썬 to_csv() (제출파일생성)
'''
훈련시킨 모델로 테스트 파일을 예측했다면 데이콘에 예측결과를 제출할 csv 파일을 만들어봅시다. 💪


1️⃣ 백지의 답안지인 submission.csv 파일을 df 파일로 불러와서 예측결과를 덧입혀주고
2️⃣ 덧입혀준 df 파일을 csv 파일로 내보낸 후,
3️⃣ 드라이브에 저장된 csv 파일을 다운받아서

[서울시 따릉이 자전거 이용 예측 AI 모델 제출하기] 에서 제출할 수 있습니다. 🥳
링크 : https://dacon.io/competitions/open/235576/overview/description
'''

In [ ]:
# submission.csv 파일 df 파일로 불러오기
submission = pd.read_csv('data/submission.csv')

In [ ]:
# submission df 파일의 count 피쳐에 예측결과 할당하기
submission['count'] = pred

In [ ]:
# 제출파일 생성하기
submission.to_csv('sub.csv',index=False)

In [ ]:
# 제출 완!