# Lv1. ì˜ì‚¬ê²°ì •íšŒê·€ë‚˜ë¬´ë¡œ ë”°ë¦‰ì´ ë°ì´í„° ì˜ˆì¸¡í•˜ê¸°
ë§í¬ : https://dacon.io/competitions/open/235698/overview/description

## Lv1 EDA 1~5

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Lv1 EDA 1/5 python íŒŒì´ì¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°(import)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Lv1 EDA 2/5 python íŒŒì´ì¬ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°(read_csv)
# ë°ì´í„° ë‹¤ìš´ë¡œë“œ ë§í¬ë¡œ ë°ì´í„°ë¥¼ ì½”ë©ì— ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-06-02 07:56:43--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-06-02 07:56:43--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 172.217.203.101, 172.217.203.100, 172.217.203.139, ...
Connecting to drive.google.com (drive.google.com)|172.217.203.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/20mve31448qipggvf2mv5g1jq6n67b2s/1654156575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-06-02 07:56:43--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/20mve31448qipggvf2mv5g1jq6n67b2s/1654156575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 172.217.203.132, 2607:f8b0:400c:c07::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|172.217.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: â€˜3gLj0Q6â€™

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.001s

2022-06-02 07:56:44 (43.6 MB/s) - â€˜3gLj0Q6â€™ saved [39208/39208]

In [ ]:
import pandas as pd

# ì •ë‹µ ì½”ë“œ
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [ ]:
# Lv1 EDA 3/5 python íŒŒì´ì¬ í–‰ ì—´ ê°¯ìˆ˜ ê´€ì°°í•˜ê¸°(shape)
train.shape

(1459, 11)

In [ ]:
test.shape

(715, 10)

In [ ]:
# Lv1 EDA 4/5 python íŒŒì´ì¬ ë°ì´í„° í™•ì¸í•˜ê¸°(head())
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [ ]:
train.tail(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
1449,2169,4,10.2,0.0,1.3,63.0,1378.0,0.033,58.0,29.0,11.0
1450,2170,15,23.1,0.0,4.3,23.0,1798.0,0.064,54.0,29.0,266.0
1451,2171,3,18.1,0.0,0.8,77.0,272.0,0.008,112.0,69.0,26.0
1452,2172,4,8.7,0.0,1.0,66.0,1802.0,0.044,46.0,18.0,8.0
1453,2173,18,24.8,0.0,3.6,33.0,1262.0,0.084,113.0,49.0,303.0
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [ ]:
# Lv1 EDA 5/5 python íŒŒì´ì¬ ê²°ì¸¡ì¹˜ í™•ì¸í•˜ê¸°(is_null() )
print(train.isnull())
print('\n--------------------------------train.csv ê° ì—´ ë³„ ê²°ì¸¡ì¹˜ ìˆ˜--------------------------------\n')
print(test.isna().sum())

         id   hour  hour_bef_temperature  hour_bef_precipitation  \
0     False  False                 False                   False
1     False  False                 False                   False
2     False  False                 False                   False
3     False  False                 False                   False
4     False  False                 False                   False
...     ...    ...                   ...                     ...
1454  False  False                 False                   False
1455  False  False                 False                   False
1456  False  False                 False                   False
1457  False  False                 False                   False
1458  False  False                 False                   False

      hour_bef_windspeed  hour_bef_humidity  hour_bef_visibility  \
0                  False              False                False
1                  False              False                False
2                  False              False                False
3                  False              False                False
4                  False              False                False
...                  ...                ...                  ...
1454               False              False                False
1455               False              False                False
1456               False              False                False
1457               False              False                False
1458               False              False                False

      hour_bef_ozone  hour_bef_pm10  hour_bef_pm2.5  count
0              False          False           False  False
1              False          False           False  False
2              False          False           False  False
3              False          False           False  False
4              False          False           False  False
...              ...            ...             ...    ...
1454           False          False           False  False
1455           False          False           False  False
1456           False          False           False  False
1457           False          False           False  False
1458           False          False           False  False

[1459 rows x 11 columns]

--------------------------------train.csv ê° ì—´ ë³„ ê²°ì¸¡ì¹˜ ìˆ˜--------------------------------

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

## LV1 ì „ì²˜ë¦¬ 1~2

In [ ]:
# Lv1 ì „ì²˜ë¦¬ 1/2 python íŒŒì´ì¬ ë°ì´í„° ê¸°ë³¸ ì •ë³´ í™•ì¸í•˜ê¸°(info())
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [ ]:
# Lv1 ì „ì²˜ë¦¬ 2/2 python íŒŒì´ì¬ ê²°ì¸¡ì¹˜ì‚­ì œ,ëŒ€ì²´(dropna, fillna)
train = train.dropna()
test = test.fillna(0)

In [ ]:
print('========== Train info ==========')
print(train.info())
print('========== Test info ==========')
print(test.info())

========== Train info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1328 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1328 non-null   int64
 1   hour                    1328 non-null   int64
 2   hour_bef_temperature    1328 non-null   float64
 3   hour_bef_precipitation  1328 non-null   float64
 4   hour_bef_windspeed      1328 non-null   float64
 5   hour_bef_humidity       1328 non-null   float64
 6   hour_bef_visibility     1328 non-null   float64
 7   hour_bef_ozone          1328 non-null   float64
 8   hour_bef_pm10           1328 non-null   float64
 9   hour_bef_pm2.5          1328 non-null   float64
 10  count                   1328 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 124.5 KB
None
========== Test info ==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB
None

## LV1 ëª¨ë¸ë§ 1~6

In [ ]:
# Lv1 ëª¨ë¸ë§ 1/6 python íŒŒì´ì¬ scikit-learn
import sklearn
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Lv1 ëª¨ë¸ë§ python íŒŒì´ì¬ 2/6 ëª¨ë¸ê°œë…(ì˜ì‚¬ê²°ì •ë‚˜ë¬´)
# ì°¸ì¡° : https://dacon.io/competitions/open/235698/talkboard/403509?page=1&dtype=recent
'''
ì˜ì‚¬ê²°ì •ë‚˜ë¬´ë€? ğŸ¤·

ê²°ì • íŠ¸ë¦¬ëŠ” ì˜ì‚¬ ê²°ì • ê·œì¹™ê³¼ ê·¸ ê²°ê³¼ë“¤ì„ íŠ¸ë¦¬ êµ¬ì¡°ë¡œ ë„ì‹í™”í•œ ì˜ì‚¬ ê²°ì • ì§€ì› ë„êµ¬ì˜ ì¼ì¢…ì…ë‹ˆë‹¤. 
ì¦‰ ìŠ¤ë¬´ê³ ê°œ ë°©ì‹ìœ¼ë¡œ êµ¬ì¡°í™”ë˜ëŠ” ê²ƒì…ë‹ˆë‹¤.


ì›ë¦¬ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤. ğŸ§‘â€ğŸ«

EDA ë¥¼ í†µí•´ dataë¥¼ ì‚´í´ë³´ë©´ ê° í–‰(row) ë“¤ì€ í”¼ì³ë“¤ì„ ê°–ê³  ìˆìŠµë‹ˆë‹¤. 
ì´ ì¤‘ í•˜ë‚˜ì˜ í”¼ì³ë¥¼ ì •í•´ì„œ í•´ë‹¹ í”¼ì³ì˜ ê°’ì— ëŒ€í•´ íŠ¹ì •í•œ í•˜ë‚˜ì˜ ê°’ì„ ì •í•œë‹¤ë©´, 
ì´ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ëª¨ë“  í–‰(row) ë“¤ì„ ë‘ ê°œì˜ ë…¸ë“œ(node) ë¡œ 
ë¶„ë¥˜(Binary decision rule. ì´ì§„ë¶„í• ) í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. âœ…


ë§Œì•½ íŠ¹ì •í•˜ê²Œ 2ï¸âƒ£ê°œë¥¼ ì •í•œë‹¤ë©´ 3ï¸âƒ£ì§„ë¶„í• ì´ ë˜ëŠ” ê²ƒì…ë‹ˆë‹¤
. ëŒ€í‘œì ì¸ ì˜ì‚¬ê²°ì •ë‚˜ë¬´ì¸ CART ì˜ì‚¬ê²°ì • ë‚˜ë¬´ ëŠ” ì´ì§„ë¶„í• ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. 
ì•ìœ¼ë¡œ CART ì˜ì‚¬ê²°ì •ë‚˜ë¬´ì— ë§ì¶° ì„¤ëª…ì„ ì´ì–´ë‚˜ê°€ê² ìŠµë‹ˆë‹¤. 

ì ê·¸ëŸ¼, ğŸ”„ íŒŒìƒëœ ë‘ ê°œì˜ ë…¸ë“œì— ëŒ€í•´ì„œ ë˜ ë‹¤ì‹œ ìƒˆë¡œìš´ í”¼ì³ì˜ íŠ¹ì •í•œ ê°’ì„ ì •í•˜ê³  ë¶„ë¥˜ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤. 
ê·¸ë¦¬ê³  ì´ ê³¼ì •ì„ ë°˜ë³µí•˜ê²Œ ë˜ë©´ ì ì°¨ í”¼ì³ì˜ ê°’ì— ë”°ë¼ data ë“¤ì´ 
ë¶„ë¥˜ê°€ ë˜ë©° ì´ê²ƒì´ ì˜ì‚¬ê²°ì • ë‚˜ë¬´ì˜ ì›ë¦¬ì…ë‹ˆë‹¤. ğŸŒ³



íŠ¹ì •í•œ ê°’ì„ ì •í•˜ëŠ” ì˜ì‚¬ê²°ì • ë‚˜ë¬´ì˜ ëŒ€ì›ì¹™ì€ âœ… "í•œìª½ ë°©í–¥ìœ¼ë¡œ ì ë¦¬ë„ë¡" âœ… ì…ë‹ˆë‹¤. 
ğŸ™… ë¶„ë¥˜ë  ë•ŒëŠ” ê³µí‰í•˜ê²Œ ë¹„ìŠ·í•œ ì–‘ìœ¼ë¡œ ë‚˜ë‰˜ë„ë¡ ê°’ì„ ì •í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼, 
ğŸ™† "í•œìª½ ë°©í–¥ìœ¼ë¡œ ì ë¦¬ë„ë¡" í•´ì£¼ëŠ” íŠ¹ì •í•œ ê°’ì„ ì°¾ëŠ” ê²ƒì´ë©°, 
ì´ë¥¼ ë¶ˆìˆœë„ë¥¼ ê³„ì‚°í•´ì„œ ì°¾ì•„ëƒ…ë‹ˆë‹¤.

'''

In [ ]:
# Lv1 ëª¨ë¸ë§ python íŒŒì´ì¬ 3/6 ëª¨ë¸ì„ ì–¸(ì˜ì‚¬ê²°ì •ë‚˜ë¬´)
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [ ]:
# Lv1 ëª¨ë¸ë§ python íŒŒì´ì¬ 4/6 ëª¨ë¸í›ˆë ¨ (ì˜ì‚¬ê²°ì •ë‚˜ë¬´)
'''
ëª¨ë¸ì„ ì„ ì–¸í•œ í›„, fit(X, Y) í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•´ì„œ ëª¨ë¸ì„ í›ˆë ¨ì‹œí‚¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ğŸ’ª

ì—¬ê¸°ì„œ ì£¼ì˜í•´ì•¼ í•  ì ì€ X ë°ì´í„°ëŠ” ì˜ˆì¸¡ì— ì‚¬ìš©ë˜ëŠ” ë³€ìˆ˜ë“¤ì´ê³ , 
âœ… Y ë°ì´í„°ëŠ” ì˜ˆì¸¡ê²°ê³¼ ë³€ìˆ˜ì—¬ì•¼ í•œë‹¤ëŠ” ê²ƒì…ë‹ˆë‹¤. âœ…


X ë°ì´í„°ëŠ” train data ì—ì„œ drop([â€˜ì œì™¸í• ì»¬ëŸ¼ëª…â€™], axis=1) í•¨ìˆ˜ë¥¼ ì´ìš©í•´ 
ì˜ˆì¸¡í•  í”¼ì³ë¥¼ ì œì™¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

Y ë°ì´í„°ëŠ” train[â€˜ì˜ˆì¸¡í• ì»¬ëŸ¼ëª…'] ìœ¼ë¡œ ì¸ë±ì‹±í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

X_train = train.drop(['ì œì™¸í• ì»¬ëŸ¼ëª…'], axis=1)
Y_train = train['ì˜ˆì¸¡í• ì»¬ëŸ¼ëª…']

ì´ì œ ëª¨ë¸ì„ ì„ ì–¸í•˜ê³ , fit() í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ëª¨ë¸ì„ í›ˆë ¨ì‹œí‚¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

model = DecistionRegressor()
model.fit(X_train, Y_train)
'''

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

In [ ]:
# Lv1 ëª¨ë¸ë§ python íŒŒì´ì¬ 5/6 í…ŒìŠ¤íŠ¸ì˜ˆì¸¡
'''
í…ŒìŠ¤íŠ¸ íŒŒì¼ì„ í›ˆë ¨ëœ ëª¨ë¸ë¡œ ì˜ˆì¸¡í•´ë³´ê² ìŠµë‹ˆë‹¤. 
í›ˆë ¨ëœ ëª¨ë¸ì—ì„œ predict() ë§¤ì„œë“œì— ì˜ˆì¸¡í•˜ê³ ì í•˜ëŠ” data ë¥¼ ì¸ìë¡œ ë„£ì–´ì£¼ê²Œ ë˜ë©´ 
í•´ë‹¹ ê²°ê³¼ array ë¥¼ í• ë‹¹í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

[í• ë‹¹í•  array] = model.predict(test)
'''
pred = model.predict(test)
pred[:5]

array([117., 164., 121.,  49.,  93.])

In [ ]:
# Lv1 ëª¨ë¸ë§ 6/6 python íŒŒì´ì¬ to_csv() (ì œì¶œíŒŒì¼ìƒì„±)
'''
í›ˆë ¨ì‹œí‚¨ ëª¨ë¸ë¡œ í…ŒìŠ¤íŠ¸ íŒŒì¼ì„ ì˜ˆì¸¡í–ˆë‹¤ë©´ ë°ì´ì½˜ì— ì˜ˆì¸¡ê²°ê³¼ë¥¼ ì œì¶œí•  csv íŒŒì¼ì„ ë§Œë“¤ì–´ë´…ì‹œë‹¤. ğŸ’ª


1ï¸âƒ£ ë°±ì§€ì˜ ë‹µì•ˆì§€ì¸ submission.csv íŒŒì¼ì„ df íŒŒì¼ë¡œ ë¶ˆëŸ¬ì™€ì„œ ì˜ˆì¸¡ê²°ê³¼ë¥¼ ë§ì…í˜€ì£¼ê³ 
2ï¸âƒ£ ë§ì…í˜€ì¤€ df íŒŒì¼ì„ csv íŒŒì¼ë¡œ ë‚´ë³´ë‚¸ í›„,
3ï¸âƒ£ ë“œë¼ì´ë¸Œì— ì €ì¥ëœ csv íŒŒì¼ì„ ë‹¤ìš´ë°›ì•„ì„œ

[ì„œìš¸ì‹œ ë”°ë¦‰ì´ ìì „ê±° ì´ìš© ì˜ˆì¸¡ AI ëª¨ë¸ ì œì¶œí•˜ê¸°] ì—ì„œ ì œì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ğŸ¥³
ë§í¬ : https://dacon.io/competitions/open/235576/overview/description
'''

In [ ]:
# submission.csv íŒŒì¼ df íŒŒì¼ë¡œ ë¶ˆëŸ¬ì˜¤ê¸°
submission = pd.read_csv('data/submission.csv')

In [ ]:
# submission df íŒŒì¼ì˜ count í”¼ì³ì— ì˜ˆì¸¡ê²°ê³¼ í• ë‹¹í•˜ê¸°
submission['count'] = pred

In [ ]:
# ì œì¶œíŒŒì¼ ìƒì„±í•˜ê¸°
submission.to_csv('sub.csv',index=False)

In [ ]:
# ì œì¶œ ì™„!